<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Name</key>
	<string>Glassdoor</string>
	<key>Extension Identifier</key>
	<string>com.wwzhang.popclip.extension.glassdoor</string>
	<key>Extension Description</key>
	<string>Open Glassdoor.com in a web browser with the selected text.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://www.glassdoor.com/Reviews/{popclip text}-reviews-SRCH_KE0,10.htm</string>
			
			<key>Image File</key>
			<string>glassdoor_sa.png</string>
			<key>Title</key>
			<string>Glassdoor</string>
		</dict>
	</array>
</dict>
</plist>
